.title {
    margin: 0 0 8px;
    color: #333;
    font-size: 50px;
    letter-spacing: -2px;
}

.subtitle {
    margin: 0 0 22px;
    color: #777;
    font-size: 18px;
} 

.social a {
    margin: 0 10px;
    color: #f7f7f7;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 7px 6px 12px;
    border-radius: 6px;
    transition: .4s;
}

.social a:hover {
    border-radius: 9px;
    filter: brightness(0.89);
}

.social .instagram-button{
    background-color: #E4405F;
}

.social .facebook-button {
    background-color: #1877F2;
}

.social .linkedin-button {
    background-color: #0A66C2;
    padding: 6px 12px;
}

.profile {
    border-radius: 50%;
    margin: 25px 0;
}

.animationFadeIn {
    animation: FadeIn 1s linear;
}

@keyframes FadeIn {
From {opacity: 0}
To {opacity: 1}
}